@import "~antd/dist/antd.css";

.MainPage {
  min-width: 400px;
  background: "#ECECEC";
  padding: 40px;
}
.NotFound {
  margin: auto 0;
  text-align: center;
  padding-top: 100px;
}
.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.Complete {
  margin: auto 0;
  padding-left: 200px;
  padding-top: 100px;
}
.Checkout {
  min-width: 400px;
}
.Navigation {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  border-top: 4px solid #2a3f54;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 5px rgba(0, 0, 0, 0.23);
  z-index: 1;
  min-width: 400px;
}
.image img {
  margin: auto 0;
  /* width: 75%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  padding: 8px 0;
  margin-right: 8px;
  height: 40px;
}
.SearchIt {
  height: 40px;
}
.Cart {
  padding-top: 500px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
